.name-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.first-name,
.last-name {
    font-size: 12.5rem;
}

.last-name {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 10px;
}

@media (max-width: 768px) {
    .name-container {
        flex-direction: column;
        gap: 0;
    }

    .first-name,
    .last-name {
        font-size: 4.5rem;
    }
}